@media(max-width:1602px){
    .room{
        .top{
            >div{
                &.right{
                    .header{
                        .room-info{
                            .info{
                                font-size: 15px;
                            }
                        }
                    }
                    .body{
                        .control-area{
                            .top-control{
                                .chips{
                                    width: calc(100% - 100px);
                                    .btn-chip{
                                        width: 57px;
                                        height: 57px;
                                        &.active{
                                            &::before{
                                                width: 73px;
                                                height: 66px;
                                            }
                                        }
                                        &::after{
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1590px){
    .board-overlay{
        .mid-result{
            transform: translate(-50%,-50%) scale(.7);
            .winner-text{
                font-size: 35px;
            }
        }
        .card-res{
            &.player{
                left: 5%;
                .card{
                    &:first-child{
                        margin-right: 34px;
                    }
                }
            }
            &.banker{
                right: 5%;
                .card{
                    &:last-child{
                        margin-left: 34px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-device-width : 1342px) {
    .room{
        &.multi{
            .top{
                height: calc(100% - 210px);
            }
        }
    }
    
}
@media only screen and (max-device-width : 1280px) {
    .room{
        &.multi{
            .top{
                flex-direction: row;
                >div{
                    &.left{
                        .count-down{
                            left: 0;
                        }
                    }
                    &.right{
                        .header{
                            width: 100%;
                            padding: 0 5px;
                            .logo{
                                width: 48px;
                            }
                        }
                        .body{
                            height: calc(100% - 21px);
                            .bet-area{
                                width: calc(100% - 7px);
                            }
                        }
                    }
                    &.left{
                        .vid-controls{
                            right: 10px;
                        }
                    }
                }
            }
            >.legend-mobile{
                position: relative;
                border-radius: 0;
                width: 100%;
                display: flex;
                bottom: 0;
            }
        }
    }
    .legend-mobile{
        &.multi{
            width: 100%;
            display: none;
            .right-indi{
                >div{
                    div{
                        width: 12px;
                    }
                }
            }
            .indicators{
                .indi{
                    .result{
                        width: 12px;
                    }
                }
            }
        }
    }
}

@media(max-width:1280px){
    header{
        .user-info{
            font-size: 15px;
        }
    }
    .room{
        .top{
            >div{
                
                &.right{
                    .header{
                        .room-info{
                            .info{
                                font-size: 10px;
                            }
                        }
                    }
                    .body{
                        width: calc(100% - 20px);
                        .bet-area{
                            height: 69%;
                            .area{
                                font-size: 12px;
                                .area-info{
                                    .info{
                                        width: calc(100% - 10px);
                                    }
                                }
                            }
                        }
                        .control-area{
                            height: 31%;
                            .top-control{
                                .chips{
                                    .btn-chip{
                                        width: 39px;
                                        height: 39px;
                                        &::after{
                                            font-size: 13px;
                                        }
                                        &.active{
                                            &::before{
                                                width: 52px;
                                                height: 46px;
                                            }
                                        }
                                    }
                                }
                            }
                            .bottom-control{
                                .btns{
                                    transform: scale(0.8);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .multi-rooms{
        height: calc(100% - 169px);
        >div{
            &:first-child{
                gap: 10px;
                flex-wrap: wrap;
                .room{
                    width: calc(100% / 2  - 5px);
                    height: calc(100% / 2);
                }
            }
        }
        .buttons-chips{
            .btn-chip{
                width: 50px;
                height: 50px;
                &::after{
                    font-size: 13px;
                }
                &::before{
                    width: 67px;
                    height: 59px;
                }
            }
        }
        .control-menu{
            padding: 0;
            margin-top: 20px;
        }
    }
    .modal-wrapper{
        .modal-container{
            width: 100%;
            max-width: calc(100% - 36px);
        }
    }
    #contactModal{
        .text-center{
            &.max-w-sm{
                max-width: 100%;
            }
        }
    }
    #historyModal{
        .modal-body{
            >div{
                &:first-child{
                    gap: 7px;
                    input{
                        width: 122px;
                        font-size: 13px;
                        height: fit-content;
                    }
                }
            }
        }
    }
    .board-overlay{
        .mid-result{
            transform: translate(-50%,-50%) scale(.7);
        }
        .card-res{
            &.player{
                left: 5%;
                .card{
                    &:first-child{
                        margin-right: 20px;
                    }
                }
            }
            &.banker{
                right: 5%;
                .card{
                    &:last-child{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    .card{
        width: 85px;
        height: 130px;
    }
    .sub-header{
        .table-filters{
            .table-filter{
                button{
                    &:last-child{
                        display: none;
                    }
                }
            }
        }
    }
    .table-grid{
        .card-board{
            width: calc(100% / 3 - 8px) !important;
        }
    }
}
@media(max-width:935px){
    header{
        margin-bottom: 0;
        padding: 10px !important;
        .logo{
            clip-path: unset;
            height: fit-content;
            width: fit-content;
            padding-bottom: 0;
            font-size: 23px;
            padding: 0 11px;
            top: 50%;
            transform: translate(-50%,-50%);
            &::before{
                clip-path: unset;
                width: calc(100% - 5px);
                height: calc(100% - 2px);
            }
        }
        .top-menu{
            display: none;
        }
        .user-info{
            width: 100%;
            justify-content: space-between;
        }
    }
    .room{
        height:calc(100% - 98px);
        position: relative;
        &.h-full{
            height: 100%;
        }
        .top{
            flex-direction: column;
            height: calc(100% - 212px);
            >div{
                width: 100%;
                height: 100%;
                &.left{
                    .count-down{
                        // left: 30px;
                        width: fit-content;
                    }
                    .vid-controls{
                        right: 28px;
                        bottom: 12px;
                        padding-right: 0;
                        button{
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
                &.right{
                    .header{
                        .room-info{
                            .info{
                                flex-direction: row;
                                gap: 4px;
                            }
                        }
                    }
                    .body{
                        width: 100%;
                        left: 0;
                        bottom: 6px;
                        .bet-area{
                            width: calc(100% - 29px);
                            position: relative;
                            left: 50%;
                            transform: translateX(-50%);
                            height: 84%;
                            .area{
                                .area-info{
                                    .info{
                                        display: none;
                                    }
                                }
                            }
                        }
                        .control-area{
                            display: none;
                            .bottom-control{
                                position: fixed;
                                left: 50%;
                                bottom: calc(68px - 6px);
                                width: calc(100% - 4px);
                                .btns{
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    transform: scale(1);
                                    .cancel{
                                        margin-right: 60px;
                                    }
                                    .bet{
                                        margin-left: 60px;
                                    }
                                }
                            }
                            .top-control{
                                top: 37px;
                                left: 49%;
                                .chips{
                                    width: calc(100% - 144px);
                                }
                            }
                        }
                    }
                }
            }
        }
        .bottom{
            height: 116px;
            top: 0;
            background-color: #fff;
            &::-webkit-scrollbar{
                display: none;
            }
            .results-wrapper{
                width: 100%;
                background-color: unset;
                .bead-road{
                    width: 98px;
                    min-width: 98px;
                }
                .small-grid{
                    width: 100%;
                }
            }
            .legend{
                display: none;
                width: 100%;
                ul,.indicators{
                    flex-direction: row;
                    .indi{
                        display: flex;
                    }
                }
            }
            .bottom-menu{
                display: none;
            }
        }
        .mobile-controls{
            display: block;
            /* height: 14%; */
            position: absolute;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            .control-area-mobile{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .bottom-control{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: calc(100% - 4px);
                    .btns{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;
                        transform: scale(1);
                        margin-bottom: 12px;
                        button{
                            filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.5490196078));
                            &.btn-circle{
                                min-width: 40px;
                                min-height: 40px;
                                width: 40px;
                                height: 40px;
                            }
                            &:not(.btn-circle){
                                font-size: 14px;
                                border-radius: 50px;
                                padding: 5px 15px;
                                font-weight: 500;
                                position: relative;
                                width: calc(100% - 10px);
                            }
                        }
                    }
                }
                .top-control{    
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    max-width: calc(100% - 10px);
                    width: 100%;
                    top: 35px;
                    a{
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 15px;
                        height: 15px;
                        background: unset;
                        border: unset;
                        i{
                            font-size: 30px;
                            cursor: pointer;
                            background: -webkit-linear-gradient(#fff9f1, hsl(37, 100%, 90%), #fffcf5);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    .chips{
                        width: calc(100% - 14px);
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        .btn-chip{
                            width: 39px;
                            height: 39px;
                            &.active{
                                &::before{
                                    width: 42px;
                                    height: 37px;
                                }
                            }
                            &::after{
                                font-size: 11px;
                                top: 46%;
                            }
                        }
                    }
                }
            }
        }
    }
    .multi-rooms{
        height: calc(100% - 168px);
        .control-menu{
            position: fixed;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);
            .toggle-chips,a.btn{
                display: none;
            }
        }
        .buttons-chips{
            width: calc(100% - 20px);
            button{
                &.active{
                    &::before{
                        width: 59px;
                        height: 54px;
                    }
                }
                &:nth-child(7),&:nth-child(8),&:nth-child(9),&:nth-child(10){
                    display: none;
                }
            }
            a{
                display: block;
            }
        }
    }
    .mobile-menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 57px;
        width: 100%;
        background: linear-gradient(178deg, #432614, #231309);
        // border: 1px solid #785732bf;
        position: fixed;
        bottom: 0;
        z-index: 1000;
        .btn-mid{
            border-radius: 50%;
            width: 70px;
            height: 70px;
            max-width: 50px;
            max-height: 50px;
            position: relative;
            left: unset;
            bottom: unset;
            top: unset;
            transform: unset;
            i{
                font-size: 20px;
            }
        }
        >div{
            width: calc(100% / 2 - 100px);
        }
        .btn{
            width: 50px;
            height: 50px;
            background: linear-gradient(#5C2E17, #1c0e06);
            &:not(.btn-mid){
                display: flex;
                flex-direction: column;
                font-size: 9px;
                background: unset;
                border: unset;
                white-space: nowrap;
                &:hover{
                    box-shadow: unset;
                }
            }
        }
    }
    .legend-mobile{
        display: flex;
        justify-content: space-around;
        position: absolute;
        z-index: 99;
        bottom: 2px;
        width: calc(100% - 200px);
        background: #5e3b28;
        border-radius: 530px;
        padding: 1px 0;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: inset 0 0 2px #000;
        .right-indi{
            display: flex;
            width: calc(100% / 2);
            >div{
                display: flex;
                justify-content: space-around;
                width: 100%;
                div{
                    width: 17px;
                    position: relative;
                    left: unset;
                    top: unset;
                    transform: unset;
                    display: flex;
                }
            }
        }
        .indicators{
            display: flex;
            gap: 10px;
            .indi{
                display: flex;
                gap: 3px;
                .result{
                    width: 17px;
                    position: relative;
                    left: unset;
                    top: unset;
                    transform: unset;
                }
            }
        }
    }
    //modal contents
    #chipModal{
        .chip-settings{
           >div{
                width: calc(100% / 3 - 10px);
           }
        }
    }
    .modal-wrapper{
        .modal-container{
            .modal-body{
                padding: 5px;
            }
        }
        &#historyModal{
            .modal-container{
                height: fit-content;
                .modal-body{
                    >div{
                        &:first-child{
                            transform: unset;
                            width: 100%;
                            align-items: flex-end;
                            justify-content: space-between;;
                            gap: 0;
                            margin: unset;
                            margin-bottom: 10px;
                            padding: 0 10px;
                            div{
                                flex-direction: column;
                                align-items: flex-start;
                                width: 100%;
                                input{
                                    width: 90%;
                                }
                            }
                            button{
                                height: 33px;
                            }
                        }
                    }
                    .main-content{
                        max-height: 400px;
                        font-size: 10px;
                        table{
                            thead{
                                tr{
                                    th{
                                        font-size: 10px;
                                    }
                                }
                            }
                            tbody{
                                tr{
                                    td{
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .board-overlay{
        .mid-result{
            transform: translate(-50%,-50%) scale(.4);
            width: calc(100% - 20px);
        }
        .card-res{
            &.player{
                .card{
                    &:first-child{
                        margin-right: 15px;
                    }
                }
            }
            &.banker{
                .card{
                    &:last-child{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    .card{
        width: 60px;
        height: 110px;
    }
    .sub-header{
        .table-filters{
            gap: 0;
            .table-filter{
                margin: 0 !important;
                button{
                    display: none;
                }
            }
        }
    }
    .table-grid{
        max-height: calc(100% - 210.5px);
        .card-board{
            width: calc(100% / 2 - 8px) !important;
        }
    }
}
@media only screen and (max-device-width : 697px) {
    .room{
        &.multi{
            .top{
                >div{
                    &.right{
                        .body{
                            height: calc(100% - 24px);
                        }
                    }
                }
            }
        }
    }
    
}
@media(max-width:697px){
    .card{
        width: 40px;
        height: 85px;
    }
    .sub-header{
        flex-direction: column;
        .subhead-inputs{
            display: flex;
            gap: 10px;
            width: 100%;
            select{
                width: calc(100% / 2 - 4px);
            }
        }
        &.container{
            max-width: calc(100% - 10px);
        }
    }
    .table-grid{
        &.container{
            max-width: calc(100% - 10px);
        }
    }
    .mobile-controls{
        .control-area-mobile{
            .bottom-control{
                .btns{
                    button{
                        height: 30px;
                        &.btn-circle{
                            min-width: 30px !important;
                            min-height: 30px !important;
                            width: 30px !important;
                            height: 30px !important;
                        }
                    }
                }
            }
        }
    }
    .card-board{
        &.multi-bet{
            .card-body{
                .content{
                    h1{
                        font-size: 34px;
                    }
                }
            }  
        } 
    }
    .multi-rooms{
        max-width: calc(100% - 13px);
        overflow-y: auto;
        >div{
            &:first-child{
                gap: 5px;
                .room{
                    width: 100%;
                    height: 356px;
                }
            }
        }
    }
}   
@media(max-width:600px){
    header{
        padding: 8px 0 !important;
        .logo{
            font-size: 15px;
            display: none;
        }
        .user-info{
            position: relative;
            padding: 1px 10px;
            gap: 5px;
        }
    }
    .room{
        .top{
            >div{
                &.left{
                    .count-down{
                        right: 20px;
                        top: 12px;
                    }
                    .vid-controls{
                        right: 20px;
                        bottom: 12px;
                        padding-right: 0;
                    }
                }
                &.right{
                    .header{
                        .logo{
                            width: 59px;
                        }
                        .room-info{
                            gap: 1px;
                            .info{
                                flex-direction: column;
                                font-size: 8px;
                                gap: 0;
                            }
                        }
                    }
                    .body{
                        .control-area{
                            .top-control{
                                top: 35px;
                                .chips{
                                    width: calc(100% - 42px);
                                }
                                a{
                                    width: 15px;
                                    height: 15px;
                                    background: unset;
                                    border: unset;
                                }
                            }
                            .bottom-control{
                                .btns{
                                    .cancel{
                                        margin-right: 0;
                                    }
                                    .bet{
                                        margin-left: 0;
                                    }
                                    button{
                                        &:not(.btn-circle){
                                            min-width: 157px;
                                            font-size: 10px;
                                        }
                                        &.btn-circle{
                                            width: 40px;
                                            height: 40px;
                                        }
                                    }
                                }
                            }
                        }
                        .bet-area{
                            height: 84%;
                            width: calc(100% - 16px);
                        }
                    }
                }
            }
        }
    }
    .legend-mobile {
        width: calc(100% - 4px);
        height: 28px;
        border: 2px solid #9a5b2f;
        padding: 2px 3px;
        >*{
            transform: scale(.9);
        }
        .right-indi{
            gap: 2px;
            >div{
                gap: 2px;
                font-weight: 500;
            }
        }
    }
    .mobile-menu{
        >div{
            width: 100%;
        }
        button{
            width: 35px;
            height: 35px;
        }
        .btn-mid{
            max-width: 50px;
            max-height: 50px;
            position: relative;
            left: unset;
            bottom: unset;
            top: unset;
            transform: unset;
            i{
                font-size: 20px;
            }
        }
    }
    .board-overlay{
        .mid-result{
            transform: translate(-50%, -50%) scale(0.3);
            .winner-number{
                gap: 3px;
            }
            .winner-text{
                font-size: 47px;
            }
        }
        .card-res{
            gap: 3px;
            &.player{
                left: 3%;
                .card{
                    &:first-child{
                        margin-right: 11px;
                    }
                }
            }
            &.banker{
                right: 3%;
                .card{
                    &:last-child{
                        margin-left: 11px;
                    }
                }
            }
        }
    }
    .card{
        width: 40px;
        height: 85px;
    }
    .sub-header{
        margin-top: 20px;
    }
    .table-grid{
        padding: 0;
        .card-board{
            width: calc(100% / 1) !important;
        }
    }
}
@media(max-width:450px){
    .room{
        .top{
            >div{
                &.right{
                    .body{
                        .control-area{
                            .bottom-control{
                                .btns{
                                    button{
                                        &:not(.btn-circle){
                                            min-width: 110px;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #tablesModal{
        .modal-container{
            width: 320px;
        }
    }
}

@media(max-width:405px){
    .board-overlay{
        .mid-result{
            transform: translate(-50%, -50%) scale(0.3);
            .winner-number{
                gap: 3px;
            }
            .winner-text{
                font-size: 47px;
            }
        }
        .card-res{
            gap: 3px;
            &.player{
                left: 3%;
                .card{
                    &:first-child{
                        margin-right: 7px;
                    }
                }
            }
            &.banker{
                right: 3%;
                .card{
                    &:last-child{
                        margin-left: 7px;
                    }
                }
            }
        }
    }
    .card{
        width: 25px;
        height: 43px;
    }
}