@media (max-width: 915px) and (max-height: 414px) {
    header{
        height: 47px;
        .logo-wrapper{
            display: none;
            img{
                top: 42%;
            }
        }
        .header-bg{
            width: calc(100% - 300px);
            top: 0px;
            background: unset;
            padding-left: 0;
            position: relative;
            left: 0;
            .notif{
                transform: scale(0.7);
                top: 8px;
                position: relative;
                left: -31px;
                .notif-text{
                    width: 146px;
                }
            }
        }
    }
    .room{
        height: calc(100% - 48px);
        .legend-mobile{
            border-radius: 0;
            height: 21px;
            .right-indi{
                >{
                    div{
                        div{
                            width: 19px;
                        }
                    }
                }
            }
            .indicators{
                .indi{
                    .result{
                        width: 18px;
                    }
                }
            }
        }
        .upper-most{
            .room-upper-container-left{
                .table-details{
                    .detail-item{
                        flex-direction: row;
                        gap: 5px;
                    }
                }
            }
            .bet-limit-table{
                top: 21px;
            }
        }
        .top{
            flex-direction: row;
            height: fit-content;
            >{
                div{
                    &.left,&.right{
                        height: 129px !important;
                    }
                    &.right{
                        .body{
                            .bet-area{
                                .area{
                                    .area-info{
                                        margin-top: 0;
                                        .info{
                                            background: unset;
                                            box-shadow: unset;
                                            flex-direction: row;
                                            gap: 3px;
                                            font-size: 13px;
                                            overflow: visible;
                                            &::before{
                                                display: none;
                                            }
                                            .area-name{
                                                white-space: nowrap;
                                                width: -moz-fit-content;
                                                width: fit-content;
                                                font-size: 10px;
                                                padding: 0 2px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .mobile-controls,.bottom{
            // display: none;
        }
        .bottom{
            .results-wrapper{
                .bead-road{
                    width: 79px;
                    min-width: 79px;
                }
            }
        }
    }
}
@media (max-width: 896px) and (max-height: 414px) {
    .bottom-control-new{
        .btns{
            .chips{
                .chips-inner{
                    min-width: 800px;
                    justify-content: space-between;
                    .btn-chip{
                        width: 43px !important;
                        height: 37px !important;
                    }
                }
            }
        }
    }
}