.login-page-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
    min-height: 400px;
    min-width: 500px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 30px;
    // border: 1px solid #ffe88e14;
    background-image: url(../img/bg/main_bg2.png);
    background-size:cover;
    background-position: center;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        background: linear-gradient(359deg, rgb(30 0 0 / 79%), rgba(173, 26, 26, 0.4392156863));
        height: 100%;
        width: 100%;
    }
    .login-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1000;
        .logo{
            width: 250px;
        }
        span{
            font-size: 16px;
        }
    }
    .inputs{
        width: calc(100% - 50px);
        position: relative;
        z-index: 1000;
        .input-label{
            margin-bottom: 13px;
            &.mb-wide{
                margin-bottom: 33px !important;
            }
        }
    }
    button{
        margin: auto;
        box-shadow: unset;
    }
}
.loading-page-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    .loading-bar-bg{
        background: radial-gradient(41% 26px at center, #2d2d2d, #000000);
        width: 85%;
        height: 5px;
        border: 1px solid #fde89f63;
        .loading-bar{
            width: 0%;
            height: 100%;
            background: linear-gradient(268deg, #ffe688, #ffd951);
            position: relative;
            &::before{
                content: "";
                position: absolute;
                right: -40px;
                top: 50%;
                background-image: url(../img/elements/loading-shine.png);
                background-size: cover;
                background-position: center;
                width: 80px;
                height: 80px;
                transform: translateY(-50%);
                animation: rotation 2s infinite linear;
                // transform-origin: center;
            }
        }
    }
}
.sub-header{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    .table-filters{
        display:grid;
        align-items: center;
        gap: 0px;
        .table-filter{
            display: flex;
            gap: 1px;
            align-items: center;
            overflow: hidden;
            button{
                img{
                    width: 40px;
                    height: 40px;
                    &.inactive{
                        filter: grayscale(10);
                    }
                }
                &:last-child{
                    img{
                        width: 33px;
                        height: 44px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .subhead-inputs{
        display:grid;
        align-items: e;
        gap: 5px;
        select{
            width: 170px;
        }
    }
}

.main-content{
    .setting-title{
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 500;
    }
    .settings-modal{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        div{
            width: fit-content;
            width: calc(100% / 2 - 10px);

            &.lang-item{
                width: calc(100% / 2 - 10px);
            }
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    width: 30px;
                }
            }
        }
    }
}
.multi-rooms{
    height: calc(100% - 169px);
    // gap: 20px;
    >div{
        gap: 10px;
        .room{
            width: calc(100% / 4);
            height: 100%;
            background: linear-gradient(178deg, #300000, #880000, #380000);
            border-radius: 5px;
            border: 1px solid rgba(64, 63, 53, 0.1882352941);
            position: relative;
            overflow: hidden;
            z-index: 0;
            .close-room{
                width: 100%;
                height: 25px;
                border: unset;
                position: absolute;
                z-index: 10000;
                min-width: 35px !important;
                min-height: 35px !important;
                max-width: 35px !important;
                max-height: 35px !important;
                right: 5px;
                top: 2px;   
                &::before{
                    border: 2px solid #f3e9bc;
                }
                &.hide{
                    display: none;
                }
            }
            .room-content{
                height: 100%;
                button{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    min-width: 150px;
                    i{
                        margin-right: 10px;
                    }
                }
                iframe{
                    width: 100%;
                    min-width: 100%;
                    height: 100%;
                    max-height: 100%;
                    position: relative;
                    z-index: 3000;
                }
            }
        }
    }
    .buttons-chips{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        .chips{
            width: 100%;
            position: relative;
            left: 0px;
            max-width: 100%;
            overflow-x: auto;
            // overflow-y: hidden;
            &::-webkit-scrollbar{
                display: none;
            }
            .inner-chips{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
        }
        a{
            display: none;
        }
    }   
    .control-menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 0;
        .btn{
            white-space: nowrap;
        }
    }
}
//room page
.room{
    height:calc(100% - 80px);
    max-width: 100%;
    .upper-most{
        height: fit-content;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        .upper-content-wrapper{
            // background: linear-gradient(359deg, #211209, #5a2d18);
            background: rgba(61, 31, 17, 0.8117647059);
            width: calc(100% - 10px);
            height: 100%;
            border-radius: 10px;
            display: flex;
            align-items: center;
            border: 1px solid rgba(255, 201, 128, 0.1882352941);
            -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
            padding: 0 12px;
            margin-bottom: 10px;        
            width: 55%;
            .left-most{
                display: flex;
                align-items: center;
                width: 60%;
                gap: 20px;
                .logo{
                    width: 100px;
                }
                .stat-items{
                    display: flex;
                    gap: 20px;
                    font-size: 14px;
                    .item{
                        border-left: 1px solid #ffc77c1c;
                        padding-left: 17px;
                        span{
                            font-weight: 500;
                            i{
                                margin-right: 3px;
                            }
                            &:first-child{
                                color: #bd9b5e;
                                margin-right: 7px;
                            }
                        }
                    }
                }
            }
            .right-most{
                width: calc(100% - 60%);
                table{
                    width: 100%;
                    thead{
                        border-bottom: 1px solid #ffbf6b26;
                        th{
                            padding: 0 5px;
                            font-size: 10px;
                        }
                    }
                    tbody{
                        tr{
                            &:not(:last-child){
                                border-bottom: 1px solid #ffbf6b26;
                            }
                            &:nth-child(even){
                                background: unset;
                            }
                            td{
                                font-size: 10px;
                                padding: 0 5px;
                            }
                        }
                    }
                }
            }
        }
        .bet-limit-table{
            width: calc(100% - 55%);
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            .table-fancy{
                width: 90%;
                height: 100%;
            }
        }
    }
    .room-upper-container-left{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .logo{
            width: 122px;
            margin-right: 20px;
        }
        .table-details{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: 14px;
            .detail-item{
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 5px;
                font-weight: 500;
                i,span{
                    background: linear-gradient(359deg, #F2BC1A, #ffdd77, #F2BC1A);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .detail-amount{
                    background: radial-gradient(41% 26px at center, #4A0A0A, #110000);
                    min-width: 100px;
                    padding:5px 10px;
                    border: 1px solid #FFF176;
                    border-radius: 4px;
                    text-align: center;
                    font-size: 18px;
                    width: 100%;
                    justify-content: center;
                    i{
                        font-size: 14px !important;
                    }
                }
            }
            &:last-child{
                // display: none;
            }
        }
    }
    .top{
        display: flex;
        gap: 5px;
        height: calc(100% - 176px - 78px);
        padding: 0 5px;
        >div{
            &.left{
                background: linear-gradient(180deg, #9E0000 0%, #450000 100%);
                background-position: center;
                background-size: cover;
                position: relative;
                width: calc(100% - 45%);
                border-radius: 7px;
                overflow: hidden;
                .betting-area-texture{   
                    opacity: 0.4 !important;
                }
                &::before{
                    content: "";
                    position: absolute;
                    left: -12%;
                    top: -160%;
                    width: 100%;
                    height: 200%;
                    background: linear-gradient(179deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4784313725) 100%);
                    transform: rotate(241deg);
                }
                .timerParent{
                    position: absolute;
                    right: 27px;
                    top: 21px;
                }
                .vid-controls{
                    position: absolute;
                    display: flex;
                }
                .iframe-wrapper{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    height: calc(100% - 20px);
                    width: calc(100% - 20px);
                    border-radius: 7px;
                    overflow: hidden;
                    iframe{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        // height: 144%;
                        // width: 245%;
                        height: 100%;
                        width: 100%;
                    }   
                }
                &.full-screen{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2000;
                    iframe{
                        max-width: 100%;
                        height: 100%;
                        min-width: 100%;
                        min-height: 100%;
                    }
                }
            }
            &.right{
                height: 100%;
                position: relative;
                width: 45%;
                border-radius: 7px;
                overflow: hidden;
                .border-fancy-right{
                    opacity: 0.3 !important;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(180deg, #9E0000 0%, #450000 100%);
                    z-index: 0;
                }
                &::after{
                    content: "";
                    position: absolute;
                    left: -292px;
                    top: -68%;
                    width: 150%;
                    height: 100%;
                    background: linear-gradient(179deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.286) 100%);
                    transform: rotate(331deg);
                }
                .body{
                    // height: calc(100% - 54px);
                    height: calc(100% - 24px);
                    width: calc(100% - 35px);
                    z-index: 100;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .bet-area{
                        // background: radial-gradient(circle, #275F7E 0%, #0f2235 100%);
                        display: flex;
                        flex-wrap: wrap;
                        height: 71%;
                        overflow: hidden;
                        margin-top: 3px;
                        background: url(../img/bg/table.jpg);
                        box-shadow: inset 0 0 13px #000;
                        border-radius: 7px;
                        border: 9px solid #650a0a;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        .area{
                            transition: .5s ease-in-out;
                            position: relative;
                            overflow: hidden;
                            &:nth-child(1),&:nth-child(2),&:nth-child(3){
                                width: calc(100% / 3);
                                border-bottom: 1px solid rgb(241 241 241 / 17%);
                                border-right: 1px solid rgb(241 241 241 / 17%);
                            }
                            &:nth-child(4),&:nth-child(5){
                                width: calc(100% / 2);
                                border-right: 1px solid rgb(241 241 241 / 17%);
                            }
                            &.b-pair,&.banker{
                                border-right: unset;
                            }
                            &:hover{
                                background-color: rgba(255, 255, 255, 0.32);
                                cursor: pointer;
                            }
                            &.active{
                                background-color: rgba(255, 255, 255, 0.32);
                            }
                            &.win{
                                animation: blink-area 1s ease-in-out 5;
                                @keyframes blink-area {
                                    0%{
                                        background-color: rgba(255, 255, 255, 0);
                                    }   
                                    50%{
                                        background-color: rgba(255, 255, 255, 0.32);
                                    }
                                    100%{
                                        background-color: rgba(255, 255, 255, 0);
                                    }
                                }
                            }
                            .area-info{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                // padding: 5px 0;
                                padding: 0;
                                margin-top: 9px;
                                .info{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: calc(100% - 10px);
                                    height: 25px !important;
                                    padding: 2px 5px;
                                    border-radius: 5px;
                                    font-weight: 600;
                                    box-shadow: 0 0 5px #000;
                                    background: linear-gradient(90deg, rgb(38 0 0) 0%, rgb(145 0 0) 47%, rgb(38 0 0) 100%);
                                    padding: 2px 10px;
                                    position: relative;
                                    overflow: hidden;
                                    &::before{
                                        content: "";
                                        position: absolute;
                                        background-image: url(../img/bg/card_bg.png);
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        left: 50%;
                                        top: 50%;
                                        width: 100%;
                                        height: 100%;
                                        transform: translate(-50%, -50%);
                                        opacity: 0.6;
                                        z-index: 0;
                                    }
                                    .area-name{    
                                        height: 87%;
                                        width: 103px;
                                        border-radius: 3px;
                                        position: relative;
                                        // line-height: 0 !important;
                                        white-space: nowrap;
                                        &.area-blue{
                                            border: 2px solid #134178;
                                            background: radial-gradient(circle, rgb(45 43 89) 0%, #080e16 100%);
                                        }
                                        &.area-green{
                                            border: 2px solid #597151;
                                            background: radial-gradient(circle, rgb(41 101 37) 0%, #0c2d00 100%);
                                        }
                                        &.area-red{
                                            border: 2px solid #8d4545;
                                            background: radial-gradient(circle, rgb(137 0 0) 0%, #180000 100%);    
                                        }
                                    }
                                    div{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        &:last-child{
                                            position: relative;
                                            z-index: 100;
                                        }
                                        i{
                                            margin-right: 7px;
                                        }
                                    }
                                }
                                .text{
                                    font-weight: 700;
                                }
                            }
                            .btn-chip{
                                 position: absolute;
                                top: 70%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                width: 40px;
                                filter: drop-shadow(0 0 3px #00000018);
                                &::after{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .control-area{
                        height: calc(100% - 71% - 45px);
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        .top-control{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            max-width: calc(100% - 30px);
                            width: 100%;
                            gap: 5px;
                            a{
                                width: 40px;
                                height: 40px;
                                border-radius: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            .chips{
                                // display: flex;
                                // justify-content: space-evenly;
                                // align-content: center;
                                width: calc(100% - 100px);
                                position: relative;
                                overflow-x: auto;
                                overflow-y: visible;
                                &::-webkit-scrollbar {
                                    display: none;
                                }
                                .chips-inner{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-around;
                                    gap: 10px;
                                    width: 1150px;
                                    padding: 0 10px;
                                }
                            }
                        }
                        .bottom-control{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // position: absolute;
                            // bottom: 6%;
                            // left: 50%;
                            // transform: translateX(-50%);
                            .btns{
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                button{
                                    filter: drop-shadow(0 4px 2px #0000008c);
                                    &:not(.btn-circle){
                                        border-radius: 50px;
                                        padding: 5px 15px;
                                        font-weight: 500;
                                        position: relative;
                                        min-width: 150px;
                                    }
                                    &.btn-circle{
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom{
        height: 255px;
        background-color: #403f35a7;
        display: flex;
        position: relative;
        .bottom-menu{
            height: 100%;
            width: 300px;
            position: absolute;
            right: -280px;
            top: 0;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: drop-shadow(-3px 0 6px #00000093);
            &.show{
                right: 0;
                @keyframes menuShow {
                    
                }
            }
            .btn-circle{
                height: 50px;
                width: 50px;
                border-radius: 100px;
                position: absolute;
                left: -20px;
                top: 50%;
                transform: translateY(-50%);
                background: #fff;
                font-size: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 4px solid #e1e1e1;
            }
            .menu-content{
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                background-color: #e1e1e1;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                .total{
                    height: calc(100% / 3 - 5px);
                    width: calc(100% - 10px);
                    background-color: #fff;
                    margin-top: 5px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 15px;
                    font-weight: 700;
                }
                .btns-bottom{
                    display: flex;
                    gap: 5px;
                    width: calc(100% - 10px);
                    height: calc(100% / 3 - 22px);
                    margin-top: 5px;
                    button{
                        width: calc(100% / 2 - 5px);
                        height: 100%;
                        background: #fff;
                        border-radius: 5px;
                        border: 1px solid #0000003d;
                        div{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-around;
                            span{
                                font-size: 10px;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
        .results-wrapper{
            width: calc(100% - 200px);
            height: 100%;
            background-color: #fff;
            display: flex;
            .bead-road{
                height: 100%;
                width: calc(100% - 71%);
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                border-right: 1px solid #000000;
                position: relative;
                &::before{
                    content: "Bead Road";
                    position: absolute;
                    color: #9f9f9fca;
                    text-transform: capitalize;
                    font-size: 25px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                li{
                    border-left: 1px solid rgba(0, 0, 0, 0.278);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.278);
                    height: calc(100% / 6);
                    aspect-ratio: 1/1;
                    position: relative;
                    &:nth-last-child(6),&:nth-last-child(5),&:nth-last-child(4),&:nth-last-child(3),&:nth-last-child(2),&:nth-last-child(1){
                        border-right: 0;
                    }
                }
            }
            .small-grid{
                width: calc(100% - 29%);
                height: 100%;
                .main-road{
                    width: 100%;
                    height: calc(100% / 2);
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    border-bottom: 1px solid #000000;
                    position: relative;
                    &::before{
                        content: "Main Road";
                        position: absolute;
                        color: #9f9f9fca;
                        text-transform: capitalize;
                        font-size: 25px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                    li{
                        border-left: 1px solid rgba(0, 0, 0, 0.278);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.278);
                        height: calc(100% / 6);
                        aspect-ratio: 1/1;
                        position: relative;
                        &:nth-child(6n+6){
                            border-bottom: 0;
                        }
                    }
                }
                .bigeye-road{
                    width: 100%;
                    height: calc(100% / 4);
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    border-bottom: 1px solid #000000;
                    position: relative;
                    &::before{
                        content: "big eye road";
                        position: absolute;
                        color: #9f9f9fca;
                        text-transform: capitalize;
                        font-size: 25px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        text-align: center;
                    }
                    li{
                        border-left: 1px solid rgba(0, 0, 0, 0.278);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.278);
                        height: calc(100% / 6);
                        aspect-ratio: 1/1;
                        position: relative;
                        &:nth-child(6n+6){
                            border-bottom: 0;
                        }
                    }
                }
                .bottom-small{
                    display: flex;
                    flex-direction: row;
                    gap: 0;
                    width: 100%;
                    height: calc(100% / 4);
                    .small-road{
                        border-right: 1px solid #000000 !important;
                        // &:nth-last-child(6),&:nth-last-child(5),&:nth-last-child(4),&:nth-last-child(3),&:nth-last-child(2),&:nth-last-child(1){
                        //     border-right: 0;
                        // }
                        position: relative;
                        &::before{
                            content: "Small Road";
                            position: absolute;
                            color: #9f9f9fca;
                            text-transform: capitalize;
                            font-size: 25px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            text-align: center;
                        }
                    }
                    .small-road,.cock-roach{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        width: calc(100% / 2);
                        height: 100%;
                        li{
                            border-left: 1px solid rgba(0, 0, 0, 0.278);
                            border-bottom: 1px solid rgba(0, 0, 0, 0.278);
                            height: calc(100% / 6);                                         
                            aspect-ratio: 1/1;
                            position: relative;
                        }
                    }
                    .cock-roach{
                        position: relative;
                        &::before{
                            content: "Cockroach Road";
                            position: absolute;
                            color: #9f9f9fca;
                            text-transform: capitalize;
                            font-size: 25px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            text-align: center;
                            line-height: 1;
                        }
                    }
                }
            }
        }
        .legend{
            width: 300px;
            background:linear-gradient(175deg, rgb(38, 0, 0) 0%, rgb(145, 0, 0) 47%, rgb(38, 0, 0) 100%);
            display: flex;
            gap: 8px;
            padding: 10px;
            >{
                width: calc(100% / 3);
            }
            ul{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 40%;
                background: #2b0000;
                box-shadow:inset 0 0 5px #000;
                padding-bottom: 5px;
                border-radius: 5px;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 5px;
                    padding:0 5px;
                    font-weight: 700;
                    &:first-child{
                        height: 30px;
                        background:linear-gradient(90deg, rgb(85 0 0) 0%, rgb(145, 0, 0) 47%, rgb(75 0 0) 100%);
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }
                    .result{
                        position: relative;
                        width: 30px;
                        left: unset;
                        top: 0;
                        transform: unset;
                    }
                    >div{
                        background: linear-gradient(90deg, rgb(241 188 29) 0%, rgb(254 237 110) 47%, rgb(228 177 27) 100%);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding: 2px 3px;
                        border-radius: 4px;
                    }
                }
            }
            .indicators{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                cursor: pointer;
                background: linear-gradient(89deg, rgb(185 139 0) 0%, rgb(254, 237, 110) 47%, rgb(189 123 0) 100%);
                border-radius: 5px;
                box-shadow: 0 0 3px #000;
                .indi{
                    border-radius: 5px;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    .result{
                        position: relative;
                        width: 19px;
                        left: unset;
                        top: 0;
                        transform: unset;
                        margin-bottom: 3px;
                    }
                    >div{
                        height: calc(100% / 4);
                        width: 100%;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &.header-red{
                            background:linear-gradient(90deg, rgb(85 0 0) 0%, rgb(145, 0, 0) 47%, rgb(75 0 0) 100%);
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                        }
                        &.header-blue{
                            background: linear-gradient(90deg, rgb(16 6 65) 0%, rgb(64 57 199) 47%, rgb(0 22 55) 100%);
                        }
                        span{
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                }
            }
            .legend-controls{
                display: flex;
                flex-direction: column;
                gap:10px;
                width: 100%;
                button,a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    height: 50%;
                    font-size: 14px;
                    filter: brightness(1);
                    transition: all 0.5s ease-in-out 0s;
                    color: rgb(0, 0, 0);
                    background: linear-gradient(89deg, rgb(200, 164, 78), rgb(249, 243, 202), rgb(195, 158, 73));
                    border-radius: 5px;
                    border: 2px solid rgb(253, 248, 185);
                    box-shadow: rgb(0, 0, 0) 0px 0px 3px;
                    font-weight: 700;
                    text-transform: uppercase;
                    i{
                        font-size: 30px;
                        background: unset;
                        color: #000 !important;
                        -webkit-text-fill-color: unset;
                    }
                    span{
                        max-width: 78px;
                        line-height: 1;
                        text-align: center;
                    }
                }
            }
        }
    }
    .mobile-controls{
        display: none;
        .control-area-mobile{
            .bottom-control{
                .btns{
                    &:not(.btn-circle){
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    &.multi{
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 2px;
            background: url(../img/elements/header-bg-multi.png);
            height: 98px;
            .header-top{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo-wrapper{
                    background: linear-gradient(245deg, #c8a44e, #f9f3ca, #c39e49);
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 102px;
                    padding: 3px;
                    .logo{
                        width: calc(100% - 10px);
                        filter: drop-shadow(0 0 1px #000);
                    }
                }
                .game-no{
                    width: 150px;
                    background: radial-gradient(41% 26px at center, #4A0A0A, #110000);
                    font-size: 14px;
                    height: -moz-fit-content;
                    height: fit-content;
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    border: 1px solid #fdf8b940;
                    font-weight: 700;
                    margin-right: 50px;
                    .game{
                        width: 100%;
                        text-align: center;
                        span{
                            background: linear-gradient(359deg, #7c7c7c, #ffffff, #a7a7a7);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    .title{
                        width: 100px;
                        background: linear-gradient(176deg, rgb(85, 0, 0) 0%, rgb(60, 0, 0) 51%, rgb(59, 0, 0) 100%);
                        border: 1px solid #e6d9a2;
                        border-radius: 100px;
                        white-space: nowrap;
                        padding: 0 10px;
                        span{
                            background: linear-gradient(359deg, #c8a44e, #f9f3ca, #c39e49);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
            .header-bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1px;
                width: 100%;
                .info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 13px;
                    .info-value{
                        background: radial-gradient(41% 26px at center, #4A0A0A, #110000);
                        min-width: 75px;
                        padding: 2px;
                        border: 1px solid #FFF176;
                        border-radius: 4px;
                        text-align: center;
                        font-size: 18px;
                        font-size: 10px;
                        max-width: 100px;
                        span{
                            color: #fff;
                        }
                    }
                }
            }
        }
        .top{
            flex-direction: column;
            height: calc(100% - 184px);
            padding: 0;
            gap: 0;
            >div{
                border-radius: 0;
                &.right{
                    .body{
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        transform: unset;
                        .bet-area{
                            height: 100%;
                            width: 100%;
                            position: relative;
                            left: 0;
                            top: 0;
                            transform: unset;
                            border: 3px solid #275F7E;
                            .area{
                                .area-info{
                                    .info{
                                        font-size: 13px;
                                        height: 31px;
                                        .area-name{
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.left{
                    iframe{
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                    }
                    .timerParent{
                        right: 0;
                        top: 0;
                        transform: scale(0.7);
                    }
                    .vid-controls{
                        right: 13px;
                        button{
                            width: 27px;
                            height: 27px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .mobile-controls{
            .control-area-mobile{
                .bottom-control{
                    .btns{
                        gap: 4px;
                        margin-bottom: 3px;
                        padding: 0 2px;
                        .btn{
                            box-shadow: unset;
                            filter: unset;
                            &.btn-rounded{
                                min-width: 36px !important;
                                min-height: 35px !important;
                                max-width: 35px !important;
                                max-height: 35px !important;
                            }
                        }
                    }
                }
            }
        }
        >.legend-mobile{
            position: relative;
            height: 41px;
            border-radius: 5px;
            // order: 6;
            .right-indi > div {
                align-items: center;
                gap: 7px;
                div{
                    width: 19px;
                }
                span{
                    font-size: 23px;
                    font-weight: 700;
                }
            }
            .indicators{
                .indi{
                    .result{
                        width: 19px;
                    }
                }
            }
        }
    }
}

.legend-mobile{
    display: none;
}