.p-0{
    padding: 0;
}
.w-fit{
    width: fit-content;
}

.light-blue{
    color: #58B2FF !important;
}
.blue{
    color: #0079e2 !important;
}
.green{
    color: #619A16 !important;
}
.red{
    color: #F70849 !important;
}

.mobile{
    display: none;
}
.mobile-flex{
    display: none;
}
.desktop{
    display: block;
}

.text-highlight{
    color: #FFF176;
}


.icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: block;
    &.icon-md{
        height: 14px;
        width: 27px !important;
    }
    &.icon-sm{
        height: 13px;
        width: 19px !important;
    }
    &.icon-yuan{
        background-image: url(../img/icons/yuan.svg);
    }
}

.border-fancy-bottom{
    position: relative;
    &::before{
        content: "";
        left: 0;
        position: absolute;
        height: 3px;
        width: 100%;
        background: linear-gradient(86deg, rgba(161, 127, 35, 0) 0%, rgb(250 243 179) 51%, rgba(133, 100, 13, 0) 100%);
        left: 50%;
        bottom: -2px;
        transform: translateX(-50%);    
    }
}

.border-fancy-top{
    position: relative;
    &::after{
        content: "";
        left: 0;
        position: absolute;
        height: 3px;
        width: 100%;
        background: linear-gradient(86deg, rgba(161, 127, 35, 0) 0%, rgb(250 243 179) 51%, rgba(133, 100, 13, 0) 100%);
        left: 50%;
        top: -2px;
        transform: translateX(-50%);    
    }
}